@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';

// Global styles
@include foundation-global-styles;
@include foundation-forms;
@include foundation-typography;

// Grids (choose one)
@include foundation-xy-grid-classes;
// @include foundation-grid;
// @include foundation-flex-grid;

// Generic components
@include foundation-button;
@include foundation-button-group;
@include foundation-close-button;
@include foundation-label;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-switch;
@include foundation-table;
// Basic components
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-callout;
@include foundation-card;
@include foundation-dropdown;
@include foundation-pagination;
@include foundation-tooltip;

// Containers
@include foundation-accordion;
@include foundation-media-object;
@include foundation-orbit;
@include foundation-responsive-embed;
@include foundation-tabs;
@include foundation-thumbnail;
// Menu-based containers
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-accordion-menu;
@include foundation-drilldown-menu;
@include foundation-dropdown-menu;

// Layout components
@include foundation-off-canvas;
@include foundation-reveal;
@include foundation-sticky;
@include foundation-title-bar;
@include foundation-top-bar;

// Helpers
@include foundation-float-classes;
@include foundation-flex-classes;
@include foundation-visibility-classes;
// @include foundation-prototype-classes;

// Motion UI
@include motion-ui-transitions;
@include motion-ui-animations;

$topbar-responsive-bg: #2c3840;
$topbar-responsive-animation-type: fade-in; // or use slide-down or none

.topbar-responsive {
  background: $topbar-responsive-bg;
  padding: 1rem 1.5rem;

  .topbar-responsive-logo {
    color: $white;
    vertical-align: middle;
  }

  .menu {
    background: $topbar-responsive-bg;

    li:last-of-type {
      margin-right: 0;
    }

    a {
      color: $white;
      transition: color 0.15s ease-in;

      &:hover {
        color: lighten($topbar-responsive-bg, 60%);
      }

      @media screen and (max-width: 39.9375em) {
        padding: 0.875rem 0;
      }
    }

    .topbar-responsive-button {
      color: $white;
      border-color: $white;
      border-radius: 5000px;
      transition: color 0.15s ease-in, border-color 0.15s ease-in;

      &:hover {
        color: lighten($topbar-responsive-bg, 60%);
        border-color: lighten($topbar-responsive-bg, 60%);
      }

      @media screen and (max-width: 39.9375em) {
        width: 100%;
        margin: 0.875rem 0;
      }
    }
  }

   @media screen and (max-width: 39.9375em) {
     padding: 0.75rem;

    .top-bar-title {
      position: relative;
      width: 100%;

      span {
        position: absolute;
        right: 0;
        border: 1px solid $white;
        border-radius: 5px;
        padding: 0.25rem 0.45rem;
        top: 50%;
        transform: translateY(-50%);

        .menu-icon {
          margin-bottom: 4px;
        }
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity:0;
  } to {
    opacity:1;
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

@include breakpoint(small only) {
  .topbar-responsive-links {
    animation-fill-mode: both;
    animation-duration: 0.5s;
    width: 100%;

    @if $topbar-responsive-animation-type == slide-down {
      animation: slideDown 1s ease-in;
    } @else if $topbar-responsive-animation-type == fade-in {
      animation: fadeIn 1s ease-in;
    } @else {
      animation: none;
    }
  }

  
}



.testbutton {
    background-image: url("../data/left-chevron.svg");
    border: none;
    color: red;

  }





html,
body {
  height: 100%;
  
  margin: 0px;
}

.box {
    display: flex;
    flex-flow: column;
    height: 100%;
  }

  .box .row {
    border: 1px dotted grey;
  }
  
  .box .row.header {
    flex: 0 1 auto;
  }
  
  .box .row.main {
    flex: 1 1 auto;
    background-color: purple;
  }
  
  .box .row.footer {
    flex: 0 1 50px;
  }

//////////////

.container {
  height: 100%;
  width: 100%;
  display: flex;
  overflow: hidden;
  border-radius: 0px;
  background-color: blue;
  position: relative;
}

.container .filterpane {
  //transform: translateX(130%);
  transform: translateX(100%);
  transition-timing-function: ease-in;
  transition: 0.2s;
}
.container.alert-is-shown .filterpane {
  transition: 0.25s;
  transition-timing-function: ease-out;
  transform: translateX(0);
  opacity: 1;
}

.filterpane {
  right: 103%;
  top: 8%;
  height: 400px;
  position: relative;
  z-index: 10;
  background: rgba(204, 204, 204, 0.5);
  border-radius: 5px;
  padding: 10px;
}
.openFilterPane{
  width: 50px;
  position: absolute;
  left: 50px;
  top: 0px;
  border: 20px;
  border-color: white;
}

#chart{
  flex: 1 1 auto;
  background-color: rgb(35, 141, 174);
}

.blackButton{
  background-color: black;
  font-size: medium;
  border: 1px solid grey;
  width: 100%;
  margin: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
}

.blackButton:hover{
  color:black;
  background-color: grey;
}
.icon-globe {mask: url(/michaelhawley.github.io/data/Globe1.svg);}
.icon-calendar {mask: url(/michaelhawley.github.io/data/calendar.png);}
.icon-paint {mask: url(/michaelhawley.github.io/data/paint.svg);}
.icon-Camera {mask: url(/michaelhawley.github.io/data/Camera.svg);}
.icon-download {mask: url(/michaelhawley.github.io/data/download100.svg);}
.icon-ETOPS {mask: url(/michaelhawley.github.io/data/ETOPS.svg);}
.icon-Layers {mask: url(/michaelhawley.github.io/data/layers.svg);}
.icon-plane {mask: url(/michaelhawley.github.io/data/plane.svg);}
.icon-arc {mask: url(/michaelhawley.github.io/data/arc.svg);}
.icon {
  //display: inline-block;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;

  width: 40px;
  height: 40px;
  background: #2c3840;
  mask-size: cover;
  text-align: center;
}
.icon:hover,
.icon:focus {
  background: orangered;
}

#pulloutPaneContainer{
  position: relative;
  right: 99%;
  top: 8%;
  
}

.pulloutPane{
  background: rgba(204, 204, 204, 0.5);
  border-radius: 5px;
  padding: 10px;
}

.globetext{
  text-align: center;
  margin: 0px;
}

.jscolor-size{
  width: 100px;
  text-align: center;
  padding: 0px;
}

.colorDiv{
  display: flex;
  align-items: center;
  width: 150px;
}
.colorDivIcons{
  width: 150px;
}
.colorSubDiv{
  display: flex;
  flex-direction: column;
  align-items: left;
}

.cicon-moon {
  mask: url(/michaelhawley.github.io/data/moon.svg);
  background: rgb(35, 141, 174);
}
.cicon-wave {
  mask: url(/michaelhawley.github.io/data/wave.svg);
  background: pink;
  transform: scaleX(-1);
}
.cicon-grass {
  mask: url(/michaelhawley.github.io/data/grass.svg);
  background: grey;
}
.cicon-hand {
  mask: url(/michaelhawley.github.io/data/hand.svg);
  background: white;
}
.cicon-border {
  mask: url(/michaelhawley.github.io/data/border.svg);
  background: white;
}
.cicon {
  width: 40px;
  height: 40px;
  mask-size: cover;
  padding: 0px;
  margin-left: 3px;
  margin-right: 12px;
  
}
.cicon:hover,
.cicon:focus {
  background: orangered;
}

.bold{
  font-weight: bold;
}

.colorFont{
  padding-top: 10px;
  line-height: 1em;
  margin-bottom: 0.1em;
  margin-left: auto;
  margin-right: auto;
}

// download related
.downloadPane{
  background: rgba(204, 204, 204, 0.5);
  border-radius: 5px;
  padding: 10px;
}
.downloadPane :hover{
  background: orangered;
}

.downloadImg{
  width:50px;
}
.downloadDiv{
  display: flex;
  align-items: center;
  width: 250px;
  border-radius: 5px;
  padding: 10px;
}

.downloadSpan{
  background-color: none;
}

.downloadFont{
  padding-top: 5px;
  line-height: 1em;
  margin-bottom: 0.0em;
}

.downloadSubDiv{
  display: flex;
  flex-direction: column;
  align-items: right;
}

